<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="instances" thread-count="5">
<listeners>  
<listener class-name="nvkidsframework.testcases.AnnotationTransformer"/>  
</listeners>
  <test name="createtest">
    <classes>
      <class name="nvkidsframework.testcases.CreatePageTestcase"/>
      <class name="nvkidsframework.testcases.CreatePageTestCaseAgain"/>
    </classes>
  </test> <!-- createtest -->
</suite> <!-- Suite -->
