<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="instances" thread-count="4">

<listeners>  
<listener class-name="nvkidsframework.testcases.AnnotationTransformer"/>  
</listeners>

 <!--  <test name="createtest_Firefox">
  <parameter name="Browser" value="firefox"/>
    <classes>
      <class name="nvkidsframework.testcases.CreatePageTestcase"/>
      <class name="nvkidsframework.testcases.CreatePageTestCaseAgain"/>
    </classes>
  </test> createtest
   -->
    <test name="createtest">
  <!-- <parameter name="Browser" value="chrome"/> -->
  <packages>
  <package name="nvkidsframework.testcases.*"/>
  </packages>
    <!-- <classes>
      <class name="nvkidsframework.testcases.CreatePageTestcase"/>
      <class name="nvkidsframework.testcases.CreatePageTestCaseAgain"/>
    </classes -->>
  </test> <!-- createtest -->
</suite> <!-- Suite -->
